.pure-g
  .pure-u-1
    #explore-pad
      .search-container
        span#search-axis-toggler
          span#search-axis-toggler-icon(class=searchAxisPickerClass)
          span.icon-arrow-down5
          #search-axis-picker.hidden
            ul
              each searchAxisItems
                li(id=id, class=itemClass)
                  span(class=iconClass) #{title}
        .search-box
          span#explore-do-search.search-icon.icon-search2.muted
          input#explore-search-input(placeholder="Search #{searchAxis}", value=searchQuery)
          if hasSearchQuery
            span#explore-clear-search.clear-icon.icon-cross2.muted
      if isEmpty
        p.no-results No results were returned.
      else
        ul.practitioner-results
          each practitioners
            li.practitioner-item
              .practitioner-name #{fullName}
